.section1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.immaginep {
    
    text-align: center;
    
}

.nav {
    background-color: rgb(238, 224, 193);
    padding: 1px;
    color: rgb(1, 83, 45);
    
}

.nav p strong {
    font-variant-caps: all-small-caps;
}

.section1 h1 {
font-size: 2em;
}

#h3{
    color: red;
}

.featured  h3 p {
    
}